.pending {
    width: 100vw;
    height: 100vh;
    background-image:  url('../../../assets/img/gettyimages-881742124-1024x1024.jpg');
    background-size: cover;
    display: flex;
    box-sizing: border-box;

    h1 {
        color: #fff;
        margin: auto;
        display: block;
        background-color: tomato; /* Fallback color */
        background-color: rgba(tomato, 0.6); /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        border: 2 solid #f1f1f1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 60%;
        padding: 20px;
        text-align: center;
        box-shadow: 0px 1px 2px .2px rgba(0,0,0, 0.4);
        text-shadow: 0px 1px 2px .1px rgba(0,0,0, 0.4);
        border-radius: 1rem;
    }
}